p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
a{
    font-family: 'Poppins', sans-serif;
}



.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.header {
    background: url("/Slider.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 189px;
    padding-bottom: 100px;
    
}

.header__top{
    padding: 24px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    margin-right: 20px;
}
.menu__button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}
.header__text-box {
    max-width: 615px;
}
.header__text-title {
    font-size: 14px;
    font-weight: 700px;
}
.header__text {
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 24px;
    font-size: 60px;
    font-style: normal;
    line-height: 74px;
}
.header__text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.header__text-link{
    margin-top: 45px;
}
.header__text-link a{
    color: #FFD723;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.about {
    padding-top: 100px;
    padding-bottom: 150px;
    margin-bottom: -100px;
}
.about__title-box {
    
}
.about__title{
    max-width: 607px;
    margin-bottom: 60px
}
.about__title p{
    color: #4D533C;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}
.about__card-box {
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    
}
.card-box{
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.about__card {
    position: relative;
    padding: 34px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about__card:last-child {   
    margin-right: 0;
}
.about__card-title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 183px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}
.about__card-text {
    display: block;
    margin: 0;
    margin-bottom: 56px;
    color: rgba(33, 56, 66, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    min-width: 194px;
    max-width: 194px;
}
.about__card-link {
    margin-bottom: 0;
    margin-top: auto;
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #D4D6D4;
    transition: color 0.3s
}
.about__card-link:hover{
    color: #FFD723;
}

.aside__block {
    position: relative;
    top: 90px;
    width: 88%;
    padding: 70px 0;
    background: #FAFAFA;
    box-shadow: 50px 130px 100px 0px rgba(0, 0, 0, 0.15);   

}
.aside__text {
    color: #4D533C;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
}
.aside__link {
    margin-top: 50px;
}
.aside__link a{
    color: #D4D6D4;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}
.footer {
    background: url(/background/Bg.jpg);
}
.footer{
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 260px;
    padding-bottom: 60px;
}
.contacts__card {
    margin-right: 68px;
    margin-top: 10px;
}
.contacts__card-title {
    margin-bottom: 16px;
    color: #B6C197;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}
.contacts__card-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    min-width: 210px;
}
.line{
    content: "";
    padding: 52px;
    box-shadow: inset 0 1px 0 #5D6544;
}
.footer__about {
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    column-gap:  100px;

}
.footer__about-inner{
    display: flex;
    flex-wrap: wrap;
}
.footer__about-card {
    margin-right: 90px;
}
.footer__about-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
}
.footer__about-list {
    width: 160px;
    color: #B6C197;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}
.footer__about-socialmedia {
}
.getintouch {
}
.getintouch span{
    color: #B6C197;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 23px;
}
.getintouch__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
    padding-bottom: 23px;
}
.getintouch__info {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 24px;
    
}
.getintouch__links {
    display: flex;
}
.getintouch__link {
    margin-right: 11px;
}
.footer__line{
    content: "";
    margin-top: 90px;
    padding: 12px;
    box-shadow: inset 0 1px 0 #5D6544;
}
.footer__bottom {
    padding-top: 60px;
    padding: 0px 0px 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
}
.footer__bottom-text {
    color: #B5C096;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
}
@media(max-width: 1210px){
    .footer__about{
        grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
    }
    .footer__about-inner{
        display: grid;
        grid-auto-columns: 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
        
    }
}
@media(max-width: 1200px){
    .card-box{
        grid-template-columns: repeat(auto-fill, minmax(250px, max-content));

    }
    .footer__about{
        justify-content: center;
    }
}
@media (max-width: 576px){
    .header__text{
        font-size: 44px;
    }
    .container{
        padding: 0 25px;
    }
    .getintouch__info{
        font-size: 20px;    
    }
    .contacts {
        justify-content: center;
    }
    .getintouch__links {
        justify-content: center;
    }
    .aside__text{
        font-size: 45px;
    }
    .menu__button img{
        width: 30px;
        height: 30px;
    }
}
